@model IEnumerable<TMF.Models.Entity.lobbys>
@{
    ViewBag.Title = "Anasayfa";
}
<link href="~/Content/css/index.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700|Saira+Extra+Condensed:300,500,700" rel="stylesheet">



<section>
    <div>
        <section>
            <div class="main-banner" style="background-color:white">
                <div class="wrapper">
                    <div class="main-banner__text" style="color:royalblue; padding-bottom:3rem;">
                        FIND YOUR BEST TEAM MATE EASILY
                    </div>

                    @* Davet Lobbies *@
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            @foreach (var item in Model)
                            {
                                @item.userGon.username <p>sizi @item.game.name oynamaya davet etti.</p>
                                <input type="button" class="btn btn-success" value="Kabul Et" onclick="location.href = '@Url.Action("DavetStatu", new { lobbyId = item.id, statu = 1 })'">
                                <input type="button" class="btn btn-danger" value="Reddet Et" onclick="location.href = '@Url.Action("DavetStatu", new { lobbyId = item.id, statu = 2 })'">
                                <p>Oyun Nickname:</p> @item.userGon.userGame.Find(e => e.game.id == item.game.id).gameNickName

                            }
                        </div>
                    </div>
                    

                    <div class="bosluk"></div>

                    @* Search for CS:GO*@

                    <div id="csSearch" class="main-search ">
                        <form method="post" action="@Url.Action("Search")" id="form" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="search-tabs">
                                    <button class="btn btn-outline-primary tab-item" disabled>
                                        <div class="wrapper-icon wrapper-icon_player">
                                            <span class="fas fa-users"></span>
                                            Find a CS:GO player
                                        </div>
                                    </button>
                                </div>
                                <div class="main-search__wrapper">
                                    <div class="main-search__left">
                                        <div class="skill-level-home" style="margin-right:1rem">
                                            <div class="form-horizontal" style="background-color: white;">
                                                <p>
                                                    <label for="amountCS1">Rank range:</label>
                                                    <input class="amountCS1" type="text" id="amountCS1" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                    <input class="amountCS2" type="text" id="amountCS2" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                </p>
                                                <div id="slider-rangeCS"></div>
                                                <div id="galleryCS" style="display: none;">
                                                    <img class="minPicCS" src="~/TMF Documents/CS/Silver1.png" id="minPicCS" width="140" height="80" />
                                                    <input type="hidden" id="minDataCS" name="minDataCS" />
                                                    <input type="hidden" id="maxDataCS" name="maxDataCS" />
                                                    <span class="label label-default">-</span>
                                                    <img class="maxPicCS" src="~/TMF Documents/CS/Global.png" id="maxPicCS" width="140" height="80" />

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bosluk2">
                                            <button class="btn btn-outline-primary my-2 mr-2 my-sm-0" type="submit">
                                                <span class="fas fa-search ">
                                                </span> Find
                                            </button>
                                        </div>
                                    </div>

                                    <div class="main-search__right">
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="AWP"> AWP
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="Lurker"> Lurker
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="Rifler"> Rifler
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="IGL"> IGL
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="Supporter"> Supporter
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin-right:1rem; margin-top:5rem">
                                            <label class="cb-text">
                                                <input type="checkbox" name="Fragger"> Fragger
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" id="minHours" name="minHours" value="0" />
                                <input type="hidden" id="maxHours" name="maxHours" value="0" />
                            </div>

                        </form>
                    </div>

                    @*Search for League of Legends*@
                    <div id="lolSearch" class="main-search " style="display:none">
                        <form method="post" action="@Url.Action("SearchLol")" id="form" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="search-tabs">
                                    <button class="btn btn-outline-primary tab-item" disabled>
                                        <div class="wrapper-icon wrapper-icon_player">
                                            <span class="fas fa-users"></span>
                                            Find a LoL player
                                        </div>
                                    </button>
                                </div>
                                <div class="main-search__wrapper">
                                    <div class="main-search__left">
                                        <div class="skill-level-home" style=" margin-right:2rem">
                                            <div class="form-horizontal" style="background-color: white;">
                                                <div id="lolDiv">
                                                    <p>
                                                        <label for="amountLOL1">Rank range:</label>
                                                        <input class="amountLOL1" type="text" id="amountLOL1" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                        <input class="amountLOL2" type="text" id="amountLOL2" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                    </p>
                                                    <div id="slider-rangeLOL"></div>
                                                    <div id="galleryLOL" style="display: none;">
                                                        <img class="minPicLOL" src="~/TMF Documents/LOL/bronze_5.png" id="minPicLOL" width="140" height="80" />
                                                        <input type="hidden" id="minDataLOL" name="minDataLOL" />
                                                        <input type="hidden" id="maxDataLOL" name="maxDataLOL" />
                                                        <span class="label label-default">-</span>
                                                        <img class="maxPicLOL" src="~/TMF Documents/LOL/challenger_1.png" id="maxPicLOL" width="140" height="80" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="bosluk2">
                                            <button class="btn btn-outline-primary my-2 mr-2 my-sm-0" type="submit">
                                                <span class="fas fa-search ">
                                                </span> Find
                                            </button>
                                        </div>
                                    </div>

                                    <div class="main-search__right">
                                        <div class="roles" style="margin-bottom:6rem; margin-left:6rem">
                                            <div class="checkbox" style="margin-right:1rem">
                                                <label class="cb-text">
                                                    <input type="checkbox" name="Top"> Top
                                                </label>
                                            </div>
                                            <div class="checkbox" style="margin-right:1rem">
                                                <label class="cb-text">
                                                    <input type="checkbox" name="Jungle"> Jungle
                                                </label>
                                            </div>
                                            <div class="checkbox" style="margin-right:1rem">
                                                <label class="cb-text">
                                                    <input type="checkbox" name="Mid"> Mid
                                                </label>
                                            </div>
                                            <div class="checkbox" style="margin-right:1rem">
                                                <label class="cb-text">
                                                    <input type="checkbox" name="Adc"> Adc
                                                </label>
                                            </div>
                                            <div class="checkbox" style="margin-right:1rem">
                                                <label class="cb-text">
                                                    <input type="checkbox" name="Support"> Support
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="minHours" name="minHours" value="0" />
                            <input type="hidden" id="maxHours" name="maxHours" value="0" />
                        </form>
                    </div>


                </div>
                    
            </div>
        </section>
    </div>
    
</section>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/home.js"></script>
}