@model IEnumerable<TMF.Models.Entity.lobbys>
@{
    ViewBag.Title = "Listeler";
}

<h2>Lobbies</h2>


<input type="button" class="btn btn-primary" value="Invites You Accept" onclick="location.href = '@Url.Action("yourLobbies", new { statu = 1 })'">
<input type="button" class="btn btn-primary" value="Invites You Reject" onclick="location.href = '@Url.Action("yourLobbies", new { statu = 2 })'">
<input type="button" class="btn btn-primary" value="Accepted Invitations" onclick="location.href = '@Url.Action("invitedLobbies", new { statu = 1 })'">
<input type="button" class="btn btn-primary" value="Rejected Invitations" onclick="location.href = '@Url.Action("invitedLobbies", new { statu = 2 })'"><br />


@if (Model != null)
{
    foreach (var item in Model)
    {
        if (item.userGon.id == int.Parse(Session["id"].ToString()))
        {

            <p>You invited <b>  @item.userAl.username</b> to play <b>@item.game.name</b>. <br /></p>
        }
        else
        {

            <p>
                <b>  @item.userGon.username</b>
                invited you to play @item.game.name. <br />
                <b>Game Nickname:</b> @item.userGon.userGame.Find(e => e.game.id == item.game.id).gameNickName
            </p>
        }


    }
}
