@model IEnumerable<TMF.Models.Entity.users>
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/css/searchCss.css" rel="stylesheet" />

<h2>Search</h2>
<div class="row">
    <div class="col-lg-5 col-md-5">
        <form method="post" action="@Url.Action("Search")" id="form" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="form-horizontal">
                        <p>
                            <label for="amountCS1">Rank range:</label>
                            <br />
                            <input class="amountCS1" type="text" id="amountCS1" readonly style="border:0; color:#f6931f; font-weight:bold;">
                            <input class="amountCS2" type="text" id="amountCS2" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-rangeCS"></div>
                        <div id="galleryCS" style="display: none;">
                            <img class="minPicCS" src="~/TMF Documents/CS/Silver1.png" id="minPicCS" />
                            <input type="hidden" id="minDataCS" name="minDataCS" />
                            <input type="hidden" id="maxDataCS" name="maxDataCS" />
                            <span class="label label-default">-</span>
                            <img class="maxPicCS" src="~/TMF Documents/CS/Global.png" id="maxPicCS" />
                        </div>
                    </div>
                    <div class="container">
                        <label class="roleSearch-label">Main Role</label>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="AWP">
                            </div>
                            <div class="col-sm-3">
                                AWP
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/awper.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="Lurker">
                            </div>
                            <div class="col-sm-3">
                                Lurker
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/lurker.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="Rifler">
                            </div>
                            <div class="col-sm-3">
                                Rifler
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/rifler.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="IGL">
                            </div>
                            <div class="col-sm-3">
                                IGL
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/leader.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="Supporter">
                            </div>
                            <div class="col-sm-3">
                                Supporter
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/support.png" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1">
                                <input class="role-input" type="checkbox" name="Fragger">
                            </div>
                            <div class="col-sm-3">
                                Fragger
                            </div>
                            <div class="col-sm-3">
                                <img class="role-img" src="~/TMF Documents/CS/fragger.png" />
                            </div>
                        </div>

                        <label class="hoursPlayed-label">Hours Played</label>
                        <div class="container">

                            <div class="row">
                                <div class="col-sm-4 hours-label">
                                    Min Saat:
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" name="minHours" value="0" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 hours-label">
                                    Max Saat:
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" name="maxHours" value="0" />
                                </div>
                            </div>
                        </div>

                        <label class="ageHeader">Age</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-radio ageRadio">
                                    <input type="radio" name="yas" value="all" checked="checked">
                                </div>
                                <div class="col-sm-2 age-label">
                                    All
                                </div>

                                <div class="col-radio ageRadio">
                                    <input type="radio" name="yas" value="-16">
                                </div>
                                <div class="col-sm-2 age-label">
                                    &lt;16
                                </div>

                                <div class="ageRadio col-radio">
                                    <input type="radio" name="yas" value="+16">
                                </div>
                                <div class="col-sm-2 age-label">
                                    +16
                                </div>
                            </div>

                            <br />
                            <input type="submit" id="bul" class="btn btn-primary" value="Bul" />


                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-7 col-md-7">
        <h2>Oyuncular :</h2>
        @if (Model != null)
        {
            <text>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Age</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Rank</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "users", new { id = item.id })"> @item.username </a>
                                </td>
                                <td>
                                    @{ int age = 0;
                                        age = DateTime.Now.Year - item.dateOfBirth.Year;
                                        if (DateTime.Now.DayOfYear < item.dateOfBirth.DayOfYear)
                                        {
                                            age = age - 1;
                                        }
                                        @age;
                                    }
                                </td>
                                <td>
                                    @foreach (var item2 in item.userGame.Where(e => e.game.id == 2).First().userGameDesc)
                                    {
                                        if (item2.compAtt.gameComponent.name == "role")
                                        {
                                            @item2.compAtt.value <br />
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var item2 in item.userGame.Where(e => e.game.id == 2).First().userGameDesc)
                                    {
                                        if (item2.compAtt.gameComponent.name == "rank")
                                        {
                                            @item2.compAtt.value
                                        }

                                    }
                                </td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="Davet Et" onclick="location.href = '@Url.Action("DavetEt", new { DavetEdilenId = item.id, oyunId = 2 })'">
                               </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </text>
        }

    </div>
</div>

@*<div class="col-lg-9 col-md-9">
        <h2>Oyuncular :</h2>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="well">
                    <a href="#" class="">@item.username </a> , @item.dateOfBirth
                    Roles
                    Languages
                </div>

            }
        }

    </div>*@


<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/home.js"></script>
}
