@model IEnumerable<TMF.Models.Entity.users>
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/css/searchCss.css" rel="stylesheet" />

<h2>Search</h2>
<div class="row">
    <div class="col-lg-5 col-md-5">
        <form method="post" action="@Url.Action("Search")" id="form" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="form-horizontal">
                        <p>
                            <label for="amountCS1">Rank range:</label>
                            <br />
                            <input class="amountCS1" type="text" id="amountCS1" readonly style="border:0; color:#f6931f; font-weight:bold;">
                            <input class="amountCS2" type="text" id="amountCS2" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-rangeCS"></div>
                        <div id="galleryCS" style="display: none;">
                            <img class="minPicCS" src="~/TMF Documents/CS/Silver1.png" id="minPicCS" />
                            <input type="hidden" id="minDataCS" name="minDataCS" />
                            <input type="hidden" id="maxDataCS" name="maxDataCS" />
                            <span class="label label-default">-</span>
                            <img class="maxPicCS" src="~/TMF Documents/CS/Global.png" id="maxPicCS" />
                        </div>
                    </div>
                    <div>
                        <label class="roleSearch-label">Main Role</label>
                        <div class="checkbox">
                            <span>
                                <input class="role-input" type="checkbox" name="AWP"> AWP
                                <img class="role-img" src="~/TMF Documents/CS/awper.png" />
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                <input class="role-input" type="checkbox" name="Lurker"> Lurker
                                <img class="role-img" src="~/TMF Documents/CS/lurker.png" />
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                <input class="role-input" type="checkbox" name="Rifler"> Rifler
                                <img class="role-img" src="~/TMF Documents/CS/rifler.png" />
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                <input class="role-input" type="checkbox" name="IGL"> IGL
                                <img class="role-img" src="~/TMF Documents/CS/leader.png" />
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                <input class="role-input"  type="checkbox" name="Supporter"> Supporter
                                <img class="role-img" src="~/TMF Documents/CS/support.png" />
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                <input class="role-input" type="checkbox" name="Fragger"> Fragger
                                <img class="role-img" src="~/TMF Documents/CS/fragger.png" style="right:auto"/>
                            </span>
                        </div>
                            <div>
                            Min Saat:  <input type="number" name="minHours" value="0"/>
                        </div>
                        <div>
                            Max Saat:  <input type="number" name="maxHours" value="0"/>
                        </div>
                        
                        Dil: <select class="input-medium bfh-languages" data-language="en"><option value=""></option><option value="om">Afaan Oromoo</option><option value="aa">Afaraf</option><option value="af">Afrikaans</option><option value="ak">Akan</option><option value="an">Aragonés</option><option value="ig">Asụsụ Igbo</option><option value="gn">Avañe'ẽ</option><option value="ae">Avesta</option><option value="ay">Aymar Aru</option><option value="az">Azərbaycan Dili</option><option value="id">Bahasa Indonesia</option><option value="ms">Bahasa Melayu</option><option value="bm">Bamanankan</option><option value="jv">Basa Jawa</option><option value="su">Basa Sunda</option><option value="bi">Bislama</option><option value="bs">Bosanski Jezik</option><option value="br">Brezhoneg</option><option value="ca">Català</option><option value="ch">Chamoru</option><option value="ny">Chicheŵa</option><option value="sn">Chishona</option><option value="co">Corsu</option><option value="cy">Cymraeg</option><option value="da">Dansk</option><option value="se">Davvisámegiella</option><option value="de">Deutsch</option><option value="nv">Diné Bizaad</option><option value="et">Eesti</option><option value="na">Ekakairũ Naoero</option><option value="en">English</option><option value="es">Español</option><option value="eo">Esperanto</option><option value="eu">Euskara</option><option value="ee">Eʋegbe</option><option value="to">Faka Tonga</option><option value="mg">Fiteny Malagasy</option><option value="fr">Français</option><option value="fy">Frysk</option><option value="ff">Fulfulde</option><option value="fo">Føroyskt</option><option value="ga">Gaeilge</option><option value="gv">Gaelg</option><option value="sm">Gagana Fa'a Samoa</option><option value="gl">Galego</option><option value="sq">Gjuha Shqipe</option><option value="gd">Gàidhlig</option><option value="ki">Gĩkũyũ</option><option value="ha">Hausa</option><option value="ho">Hiri Motu</option><option value="hr">Hrvatski Jezik</option><option value="io">Ido</option><option value="rw">Ikinyarwanda</option><option value="rn">Ikirundi</option><option value="ia">Interlingua</option><option value="nd">Isindebele</option><option value="nr">Isindebele</option><option value="xh">Isixhosa</option><option value="zu">Isizulu</option><option value="it">Italiano</option><option value="ik">Iñupiaq</option><option value="pl">Język Polski</option><option value="mh">Kajin M̧ajeļ</option><option value="kl">Kalaallisut</option><option value="kr">Kanuri</option><option value="kw">Kernewek</option><option value="kg">Kikongo</option><option value="sw">Kiswahili</option><option value="ht">Kreyòl Ayisyen</option><option value="kj">Kuanyama</option><option value="ku">Kurdî</option><option value="la">Latine</option><option value="lv">Latviešu Valoda</option><option value="lt">Lietuvių Kalba</option><option value="ro">Limba Română</option><option value="li">Limburgs</option><option value="ln">Lingála</option><option value="lg">Luganda</option><option value="lb">Lëtzebuergesch</option><option value="hu">Magyar</option><option value="mt">Malti</option><option value="nl">Nederlands</option><option value="no">Norsk</option><option value="nb">Norsk Bokmål</option><option value="nn">Norsk Nynorsk</option><option value="uz">O'zbek</option><option value="oc">Occitan</option><option value="ie">Interlingue</option><option value="hz">Otjiherero</option><option value="ng">Owambo</option><option value="pt">Português</option><option value="ty">Reo Tahiti</option><option value="rm">Rumantsch Grischun</option><option value="qu">Runa Simi</option><option value="sc">Sardu</option><option value="za">Saɯ Cueŋƅ</option><option value="st">Sesotho</option><option value="tn">Setswana</option><option value="ss">Siswati</option><option value="sl">Slovenski Jezik</option><option value="sk">Slovenčina</option><option value="so">Soomaaliga</option><option value="fi">Suomi</option><option value="sv">Svenska</option><option value="mi">Te Reo Māori</option><option value="vi">Tiếng Việt</option><option value="lu">Tshiluba</option><option value="ve">Tshivenḓa</option><option value="tw">Twi</option><option value="tk">Türkmen</option><option value="tr">Türkçe</option><option value="ug">Uyƣurqə</option><option value="vo">Volapük</option><option value="fj">Vosa Vakaviti</option><option value="wa">Walon</option><option value="tl">Wikang Tagalog</option><option value="wo">Wollof</option><option value="ts">Xitsonga</option><option value="yo">Yorùbá</option><option value="sg">Yângâ Tî Sängö</option><option value="is">ÍSlenska</option><option value="cs">čEština</option><option value="el">ελληνικά</option><option value="av">авар мацӀ</option><option value="ab">аҧсуа бызшәа</option><option value="ba">башҡорт теле</option><option value="be">беларуская мова</option><option value="bg">български език</option><option value="os">ирон æвзаг</option><option value="kv">коми кыв</option><option value="ky">Кыргызча</option><option value="mk">македонски јазик</option><option value="mn">монгол</option><option value="ce">нохчийн мотт</option><option value="ru">русский язык</option><option value="sr">српски језик</option><option value="tt">татар теле</option><option value="tg">тоҷикӣ</option><option value="uk">українська мова</option><option value="cv">чӑваш чӗлхи</option><option value="cu">ѩзыкъ словѣньскъ</option><option value="kk">қазақ тілі</option><option value="hy">Հայերեն</option><option value="yi">ייִדיש</option><option value="he">עברית</option><option value="ur">اردو</option><option value="ar">العربية</option><option value="fa">فارسی</option><option value="ps">پښتو</option><option value="ks">कश्मीरी</option><option value="ne">नेपाली</option><option value="pi">पाऴि</option><option value="bh">भोजपुरी</option><option value="mr">मराठी</option><option value="sa">संस्कृतम्</option><option value="sd">सिन्धी</option><option value="hi">हिन्दी</option><option value="as">অসমীয়া</option><option value="bn">বাংলা</option><option value="pa">ਪੰਜਾਬੀ</option><option value="gu">ગુજરાતી</option><option value="or">ଓଡ଼ିଆ</option><option value="ta">தமிழ்</option><option value="te">తెలుగు</option><option value="kn">ಕನ್ನಡ</option><option value="ml">മലയാളം</option><option value="si">සිංහල</option><option value="th">ไทย</option><option value="lo">ພາສາລາວ</option><option value="bo">བོད་ཡིག</option><option value="dz">རྫོང་ཁ</option><option value="my">ဗမာစာ</option><option value="ka">ქართული</option><option value="ti">ትግርኛ</option><option value="am">አማርኛ</option><option value="iu">ᐃᓄᒃᑎᑐᑦ</option><option value="oj">ᐊᓂᔑᓈᐯᒧᐎᓐ</option><option value="cr">ᓀᐦᐃᔭᐍᐏᐣ</option><option value="km">ខ្មែរ</option><option value="zh">中文&nbsp;(Zhōngwén)</option><option value="ja">日本語&nbsp;(にほんご)</option><option value="ii">ꆈꌠ꒿ Nuosuhxop</option><option value="ko">한국어&nbsp;(韓國語)</option></select>

                        <div class="radio ">
                            <input type="radio" name="yas" value="all" checked="checked"> All<br>
                            <input type="radio" name="yas" value="-16"> -16<br>
                            <input type="radio" name="yas" value="+16"> +16
                        </div>
                        <input type="submit" id="bul" class="btn btn-primary" value="Bul" />
                    </div>
                    

                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-7 col-md-7">
        <h2>Oyuncular :</h2>
        @if (Model != null)
        {
            <text>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Age</th>
                            <th scope="col">Roles</th>
                            <th scope="col">Rank</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="#" class="">@item.username </a>
                                </td>
                                <td>
                                    @{  int age = 0;
                                        age= DateTime.Now.Year - item.dateOfBirth.Year;
                                        if (DateTime.Now.DayOfYear < item.dateOfBirth.DayOfYear)
                                        {
                                            age = age - 1;
                                        }
                                        @age;
                                        }
                                </td>
                                <td>
                                    @foreach (var item2 in item.userGame.Where(e => e.game.id == 2).First().userGameDesc)
                                    {
                                        if (item2.compAtt.gameComponent.name == "role")
                                        {
                                            @item2.compAtt.value <br />
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var item2 in item.userGame.Where(e => e.game.id == 2).First().userGameDesc)
                                    {
                                        if (item2.compAtt.gameComponent.name == "rank")
                                        {
                                            @item2.compAtt.value
                                        }

                                    }
                                </td>
                            </tr>
                          }

                    </tbody>
                </table>
            </text>
        }

    </div>
</div>

@*<div class="col-lg-9 col-md-9">
    <h2>Oyuncular :</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="well">
                <a href="#" class="">@item.username </a> , @item.dateOfBirth
                Roles
                Languages
            </div>

        }
    }

</div>*@


<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/js/home.js"></script>
}
