@model TMF.Models.Entity.users

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/css/userCreate.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="well-block">
                    <div class="well-title">
                        <h2>User Create</h2>
                    </div>
                    <form>
                        <!--Username -->
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="username">Username</label>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input name="username" class="form-control" placeholder="Username" type="text" required>
                                </div>
                            </div>
                            <!-- Password-->
                            <div class="col-md-6">
                                <label class="control-label" for="password">Password</label>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="password" class="form-control" placeholder="Create password" type="password" required>
                                </div>
                            </div>

                            <!-- Birthday-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">Birthday</label>
                                    <input id="date" name="date" type="date" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <!-- Equipment Check -->
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.mic, htmlAttributes: new { @class = "control-label" })
                                <span class="fas fa-microphone"></span>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.headset, htmlAttributes: new { @class = "control-label" })
                                <span class="fas fa-headphones"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="mic" class="btn btn-primary">
                                    <input type="checkbox" id="mic" name="mic" class="badgebox">
                                    <span class="badge">
                                        &check;
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <label for="headset" class="btn btn-primary">
                                    <input type="checkbox" id="headset" name="headset" class="badgebox">
                                    <span class="badge">
                                        &check;
                                    </span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Games</h2>
                    </div>

                    <div class="form-group">
                        @*DB'de bulunan oyun sayısı kadar checkbox.*@
                        <div id="game" class="form-group">
                            <div id="gameList">
                                <div class="row">
                                    <div id="cbList" class="form-group">
                                    </div>
                                </div>
                                <div class="row">

                                    <!-- Lol Attributes -->
                                    <div class="col order-first col-md-6" id="lol" style="display:none">

                                        

                                        <!-- Lol Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Nickname</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="lolNickname" placeholder="LoL Nickname " name="lolNickname" />
                                                </div>
                                            </div>
                                        </div>
                                        


                                        <!-- Lol Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Top" class="btn btn-primary cb-font col-sm-12">
                                                            Top
                                                            <input type="checkbox" id="Top" name="Top" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Top.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Jungle" class="btn btn-primary cb-font col-sm-12">
                                                            Jungle
                                                            <input type="checkbox" id="Jungle" name="Jungle" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Jungle.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Mid" class="btn btn-primary cb-font col-sm-12">
                                                            Mid
                                                            <input type="checkbox" id="Mid" name="Mid" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Mid.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Adc" class="btn btn-primary cb-font col-sm-12">
                                                            Adc
                                                            <input type="checkbox" id="Adc" name="Adc" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/adc.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Support" class="btn btn-primary cb-font col-sm-12">
                                                            Support
                                                            <input type="checkbox" id="Support" name="Support" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Support.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Lol Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankLol">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankLol" name="rankLol">
                                                        <option disabled selected>Choose Rank</option>
                                                        @foreach (var item in ViewBag.lolRanks)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Lol Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="lolHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="lolHours" name="lolHours" value="0" style="width:135px" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <!-- CS Attributes -->
                                    <div class="col col-md-6" id="cs" style="display:none">

                                        <!-- CS Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam Name</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamName" placeholder="Steam Name" name="steamName" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Steam ID -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam ID</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamID" placeholder="Steam ID" name="steamID" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- CS Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="AWP" class="btn btn-primary cb-font col-sm-12">
                                                            AWP
                                                            <input type="checkbox" id="AWP" name="AWP" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/awper.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Lurker" class="btn btn-primary cb-font col-sm-12">
                                                            Lurker
                                                            <input type="checkbox" id="Lurker" name="Lurker" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/lurker.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Rifler" class="btn btn-primary cb-font col-sm-12">
                                                            Rifler
                                                            <input type="checkbox" id="Rifler" name="Rifler" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/rifler.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="IGL" class="btn btn-primary cb-font col-sm-12">
                                                            IGL
                                                            <input type="checkbox" id="IGL" name="IGL" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/leader.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Supporter" class="btn btn-primary cb-font col-sm-12">
                                                            Supporter
                                                            <input type="checkbox" id="Supporter" name="Supporter" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/support.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Fragger" class="btn btn-primary cb-font col-sm-12">
                                                            Fragger
                                                            <input type="checkbox" id="Fragger" name="Fragger" class="badgebox role-input" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/fragger.png" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- CS Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankCS">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankCs" name="rankCs">
                                                        <option disabled selected>Choose Rank</option>
                                                        @foreach (var item in ViewBag.csRanks)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- CS Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="csHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="csHours" name="csHours" value="0" style="width:135px" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 ">
                                        <input type="button" id="createBtn" value="Create" class="btn btn-outline-primary" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <input type="hidden" name="registerPage" value="0" />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/js/userCreate.js"></script>

@section scripts
{

}
