@model TMF.Models.Entity.users
@using TMF.Models.Entity

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>
<link href="~/Content/css/userDetails.css" rel="stylesheet" />

<div class="content py-5  bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home" data-toggle="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gamesTab" data-toggle="tab">Games</a>
                    </li>
                </ul>
                <!-- form user info -->
                <div class="card card-outline-secondary tab-content">

                    <div id="home" class="tab-pane active">
                        <div class="card-header">
                            <h3 class="mb-0">User Information</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" value="@Model.username" disabled>
                                    </div>
                                </div>
                                @if (Model.id == int.Parse(Session["id"].ToString()))
                                {
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.password" disabled>
                                        </div>
                                    </div>
                                }

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Age</label>
                                    @{ int age = 0;
                                        age = DateTime.Now.Year - Model.dateOfBirth.Year;
                                        if (DateTime.Now.DayOfYear < Model.dateOfBirth.DayOfYear)
                                        {
                                            age = age - 1;
                                        }
                                    }
                                    <div class="col-lg-9">
                                        <input class="form-control" type="email" value="@age" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Mic</label>
                                    <div class="col-lg-9">
                                        <label for="mic" class="btn btn-primary">
                                            <input type="checkbox" id="mic" name="mic" class="badgebox" @if (Model.mic) { <text> checked </text> } disabled>
                                            <span class="badge">
                                                &check;
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Headset</label>
                                    <div class="col-lg-9">
                                        <label for="mic" class="btn btn-primary">
                                            <input type="checkbox" id="headset" name="headset" class="badgebox" @if (Model.headset) { <text> checked </text> } disabled>
                                            <span class="badge">
                                                &check;
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                @if (Model.id == int.Parse(Session["id"].ToString()))
                                {
                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label form-control-label"></label>
                                        <div class="col-lg-6">
                                            <input type="button" class="btn btn-success" value="Go to Edit" onclick="getEdit(@Model.id)">
                                        </div>
                                    </div>
                                }

                            </form>
                        </div>
                    </div>

                    <div id="gamesTab" class="tab-pane fade">
                        <div class="card-header">
                            <h3 class="mb-0">Games</h3>
                        </div>
                        <div class="card-body">
                            <form id="tab" class="form" role="form" autocomplete="off">
                                @for (int i = 0; i < Model.userGame.ToList().Count(); i++)
                                {

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"><b>Game Name</b></label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.userGame[i].game.name" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Hours</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.userGame[i].time" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">Game Nickname</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" value="@Model.userGame[i].gameNickName" disabled>
                                        </div>
                                    </div>
                                    if (Model.userGame[i].gameConnectID != null)
                                    {
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Steam ID</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" value="@Model.userGame[i].gameConnectID" disabled>
                                            </div>
                                        </div>
                                    }

                                    foreach (var itemDesc in Model.userGame[i].userGameDesc)
                                    {
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">@itemDesc.compAtt.gameComponent.name</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="email" value="@itemDesc.compAtt.value" disabled>
                                            </div>
                                        </div>
                                    }
                                }
                                @*@foreach (var item in Model.userGame)
                                    {

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label"><b>Game Name</b></label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" value="@item.game.name" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Hours</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" value="@item.time" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Game Nickname</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" value="@item.gameNickName" disabled>
                                            </div>
                                        </div>
                                        if (item.gameConnectID != null)
                                        {
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Steam ID</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="text" value="@item.gameConnectID" disabled>
                                                </div>
                                            </div>
                                        }

                                        foreach (var itemDesc in item.userGameDesc)
                                        {
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">@itemDesc.compAtt.gameComponent.name</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="email" value="@itemDesc.compAtt.value" disabled>
                                                </div>
                                            </div>
                                        }

                                    }*@
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">
                                        <input type="reset" class="btn btn-secondary" value="Return Home">
                                        <button type="button" class="btn btn-primary" id="opener">For Steam Dataset info</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /form user info -->
            </div>
        </div>
    </div>



</div>

<div id="steamPopup" title="Steam Dataset">
    <h6><b>Game Count</b></h6>
    <ul id="steamGameCount"></ul>
    <h6><b>Game List</b></h6>
    <ul id="steamGameList"></ul>
</div>
@if (Model.userGame.Any(u=>u.game.id==2))
{
    <input type="hidden" id="steamID" value="@Model.userGame.Where(u=>u.game.id==2).FirstOrDefault().gameConnectID" />

}
else
{
    <input type="hidden" id="steamID" value="0" />

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/js/apiJs.js"></script>

@section scripts{
    <script>
        function getEdit(ids) {
            location.href = "/users/edit/" + ids;
        }
    </script>
}