@model TMF.Models.Entity.users
@using TMF.Models.Entity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            USERNAME
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            PAROLA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            DOĞUM TARİHİ - YAŞ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.image)
            </dd>*@

        <dt>
            MİC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mic)
        </dd>

        <dt>
            HEADSET
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headset)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.online)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.online)
            </dd>*@
        @foreach (userGames item in Model.userGame.ToList())
        {
            <dt>
                @item.game.name
            </dt>
            <dd>
                @item.time
            </dd>
            <dd>
                @item.gameNickName
            </dd>
            <dd>
                @if (item.gameConnectID != null)
                {
                    item.gameConnectID.ToString();
                }
            </dd>
            foreach (var itemDesc in item.userGameDesc)
            {
                <dd>
                    @itemDesc.compAtt.gameComponent.name = @itemDesc.compAtt.value
                </dd>
            }

        }
        @*@foreach (userGames item1 in Model.userGame.ToList<userGames>())
            {
                foreach (var itemDesc in item1.userGameDesc)
                {
                    <dd>
                        @itemDesc.compAtt.value
                    </dd>
                }

            }*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
