@model TMF.Models.Entity.users

@{
    ViewBag.Title = "Edit";
    var cs = Model.userGame.Any(a => a.game.id == 2);
    var lol = Model.userGame.Any(a => a.game.id == 1);

    string day = "";
    string month = "";

    if (Model.dateOfBirth.Day < 10)
    {
        day = "0" + Model.dateOfBirth.Day.ToString();
    }
    else
    {
        day = Model.dateOfBirth.Day.ToString();
    }
    if (Model.dateOfBirth.Day < 10)
    {
        month = "0" + Model.dateOfBirth.Month.ToString();
    }
    else
    {
        month = Model.dateOfBirth.Month.ToString();
    }
    var year = Model.dateOfBirth.Year.ToString();






}

<link href="~/Content/css/userEdit.css" rel="stylesheet" />
<h2>Edit</h2>
<span><b>Searchable</b></span>
<div class="onoffswitch3">
    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" @if (Model.search) { <text> checked</text> }>
    <label class="onoffswitch3-label" for="myonoffswitch3">
        <span class="onoffswitch3-inner">
            <span class="onoffswitch3-active"><span class="onoffswitch3-switch">Active</span></span>
            <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">Inactive</span></span>
        </span>
    </label>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
<div class="container">
    @Html.HiddenFor(model => model.id)
    <div class="row">
        <div class="col">
            <div class="well-block">
                <div class="well-title">
                    <h2>User Edit</h2>
                </div>
                <form>
                    <div class="row">
                        <!--Username -->
                        <div class="col-md-6">
                            <label class="control-label" for="username">Username</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", required = true } })
                            </div>
                        </div>
                        <!-- Password-->
                        <div class="col-md-6">
                            <label class="control-label" for="password">Password</label>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" type="password" id="password" name="password" data-check="on" required value="@Model.password" />
                                <div class="input-group-append">
                                    <span id="pswShow" class="input-group-text"> <i class="far fa-eye"></i> </span>
                                </div>
                            </div>
                        </div>
                        <!-- Birthday-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Birthday</label>
                                @*@Html.EditorFor(model => model.dateOfBirth, new { htmlAttributes = new { @class = "form-control input-md", type = "date", required = true, value = @year+"-"+@month+"-"+@day } })*@
                                <input type="date" id="=dateOfBirth" name="dateOfBirth" class="form-control input-md" value="@year-@month-@day" required />

                            </div>
                        </div>
                    </div>
                    <!-- Equipment Check -->
                    <div class="row">
                        <div class="col-md-6">
                            Mic
                            <span class="fas fa-microphone"></span>
                        </div>
                        <div class="col-md-6">
                            Headset
                            <span class="fas fa-headphones"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="mic" class="btn btn-primary">
                                <input type="checkbox" id="mic" name="mic" class="badgebox" @if (Model.mic) { <text> checked </text> } />
                                <span class="badge">
                                    &check;
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label for="headset" class="btn btn-primary">
                                <input type="checkbox" id="headset" name="headset" class="badgebox" @if (Model.headset) { <text> checked </text> } />
                                <span class="badge">
                                    &check;
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-6 col-form-label form-control-label"></label>
                        <div class="col-lg-6">
                            <input type="button" class="btn btn-success" value="Go to Profile" onclick="goProfile(@Model.id)">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <div class="well-block">
                <div class="well-title">
                    <h2>Games</h2>
                </div>
                <div class="form-group">
                    <div id="game" class="form-group">
                        <div id="gameList">
                            <div class="row">
                                <div id="cbList" class="form-group">
                                    @foreach (var item in ViewBag.gameListt)
                                    {
                                        <label for="@item.Text.Split(' ')[0]" class="btn btn-primary cb-font col-md-5">
                                            @item.Text
                                            <input type="checkbox" id="@item.Text.Split(' ')[0]" name="@item.Text.Split(' ')[0]" data-check="on" class="games badgebox"  @if (Model.userGame.Any(u => u.game.id == int.Parse(item.Value))) { <text> onclick="getDiv(@item.Value)" checked </text> } else { <text> onclick="getDiv2(@item.Value)"</text> }>
                                            <span class="badge">
                                                &check;
                                            </span>
                                        </label>
                                    }
                                </div>
                            </div>
                            <div class="row">

                                @*If User Have LoL*@
                                @if (lol)
                                {
                                    <!-- Lol Attributes -->
                                    var lolData = (Model.userGame.ToList().Where(a => a.game.id == 1).FirstOrDefault());
                                    var g = lolData.userGameDesc.Where(b => b.compAtt.gameComponent.id == 3).FirstOrDefault();
                                    var h = g.compAtt.id;
                                    var lolTime = Model.userGame.Where(u => u.game.id == 1).FirstOrDefault().time;

                                    <div id="lolDiv" class="col order-first col-md-6">

                                        <!-- Lol Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Nickname</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="lolNickname" value="@lolData.gameNickName" name="gameNickNamelol" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Lol Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Top" class="btn btn-primary cb-font col-sm-12">
                                                            Top
                                                            <input type="checkbox" name="Top" id="Top" class="badgebox text-danger role-input roleLol" @if (lolData.userGameDesc.Where(u => u.compAtt.id == 82).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Top.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Jungle" class="btn btn-primary cb-font col-sm-12">
                                                            Jungle
                                                            <input type="checkbox" name="Jungle" id="Jungle" class="badgebox text-danger role-input roleLol" @if (lolData.userGameDesc.Where(u => u.compAtt.id == 84).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Jungle.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Mid" class="btn btn-primary cb-font col-sm-12">
                                                            Mid
                                                            <input type="checkbox" name="Mid" id="Mid" class="badgebox text-danger role-input roleLol" @if (lolData.userGameDesc.Where(u => u.compAtt.id == 83).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Mid.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Adc" class="btn btn-primary cb-font col-sm-12">
                                                            Adc
                                                            <input type="checkbox" name="Adc" id="Adc" class="badgebox text-danger role-input roleLol" @if (lolData.userGameDesc.Where(u => u.compAtt.id == 85).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Adc.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Support" class="btn btn-primary cb-font col-sm-12">
                                                            Support
                                                            <input type="checkbox" name="Support" id="Support" class="badgebox text-danger role-input roleLol" @if (lolData.userGameDesc.Where(u => u.compAtt.id == 86).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Support.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Lol Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankLol">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankLol" name="rankLol">
                                                        <option disabled selected value="">Choose Rank</option>
                                                        @foreach (var item in ViewBag.lolRanks)
                                                        {
                                                            <option value="@item.Value" @if (int.Parse(item.Value) == h) { <text> selected </text> }>@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Lol Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="lolHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="lolHours" name="lolHours" value="@lolTime" style="width:135px" min="0" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                }

                                @*If User doesn't have LoL*@
                                else
                                {
                                    <!-- Lol Attributes -->
                                    <div class="col order-first col-md-6" id="lolDivNew" style="display:none">



                                        <!-- Lol Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Nickname</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="lolNickname" placeholder="LoL Nickname " name="gameNickNamelol" />
                                                </div>
                                            </div>
                                        </div>



                                        <!-- Lol Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Top" class="btn btn-primary cb-font col-sm-12">
                                                            Top
                                                            <input type="checkbox" id="Top" name="Top" class="badgebox role-input roleLol" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Top.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Jungle" class="btn btn-primary cb-font col-sm-12">
                                                            Jungle
                                                            <input type="checkbox" id="Jungle" name="Jungle" class="badgebox role-input roleLol" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Jungle.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Mid" class="btn btn-primary cb-font col-sm-12">
                                                            Mid
                                                            <input type="checkbox" id="Mid" name="Mid" class="badgebox role-input roleLol" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Mid.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Adc" class="btn btn-primary cb-font col-sm-12">
                                                            Adc
                                                            <input type="checkbox" id="Adc" name="Adc" class="badgebox role-input roleLol" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/adc.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Support" class="btn btn-primary cb-font col-sm-12">
                                                            Support
                                                            <input type="checkbox" id="Support" name="Support" class="badgebox role-input roleLol" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/LOL/Support.png" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Lol Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankLol">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankLol" name="rankLol">
                                                        <option disabled selected value="">Choose Rank</option>
                                                        @foreach (var item in ViewBag.lolRanks)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Lol Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="lolHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="lolHours" name="lolHours" value="0" style="width:135px" min="0" />
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                }

                                @*If User Have CS:GO*@
                                @if (cs)
                                {
                                    var csData = (Model.userGame.ToList().Where(a => a.game.id == 2).FirstOrDefault());
                                    var d = csData.userGameDesc.Where(b => b.compAtt.gameComponent.id == 5).FirstOrDefault();
                                    var f = d.compAtt.id;
                                    var csTime = Model.userGame.Where(u => u.game.id == 2).FirstOrDefault().time;

                                    <!-- CS Attributes -->
                                    <div class="col col-md-6" id="csDiv">

                                        <!-- CS Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam Name</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamName" value="@csData.gameNickName" name="gameNickNamecs" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Steam ID -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam ID</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamID" value="@csData.gameConnectID" name="gameConnectIDcs" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- CS Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="AWP" class="btn btn-primary cb-font col-sm-12">
                                                            AWP
                                                            <input type="checkbox" id="AWP" name="AWP" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 105).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/awper.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Lurker" class="btn btn-primary cb-font col-sm-12">
                                                            Lurker
                                                            <input type="checkbox" id="Lurker" name="Lurker" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 106).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/lurker.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Rifler" class="btn btn-primary cb-font col-sm-12">
                                                            Rifler
                                                            <input type="checkbox" id="Rifler" name="Rifler" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 107).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/rifler.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="IGL" class="btn btn-primary cb-font col-sm-12">
                                                            IGL
                                                            <input type="checkbox" id="IGL" name="IGL" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 108).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/leader.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Supporter" class="btn btn-primary cb-font col-sm-12">
                                                            Supporter
                                                            <input type="checkbox" id="Supporter" name="Supporter" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 109).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/support.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Fragger" class="btn btn-primary cb-font col-sm-12">
                                                            Fragger
                                                            <input type="checkbox" id="Fragger" name="Fragger" class="badgebox role-input roleCS" @if (csData.userGameDesc.Where(u => u.compAtt.id == 110).FirstOrDefault() != null) { <text> checked="checked" </text> } />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/fragger.png" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- CS Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankCs">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankCs" name="rankCs">
                                                        <option disabled selected value="">Choose Rank</option>
                                                        @foreach (var item in ViewBag.csRanks)
                                                        {
                                                            <option value="@item.Value" @if (int.Parse(item.Value) == f) { <text> selected </text> }>@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- CS Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="csHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="csHours" name="csHours" value="@csTime" style="width:135px" min="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                                else
                                {

                                    <!-- CS Attributes -->
                                    <div class="col col-md-6" id="csDivNew" style="display:none">

                                        <!-- CS Nickname -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam Name</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamName" placeholder="Steam Name" name="gameNickNamecs" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Steam ID -->
                                        <div class="form-group">
                                            <div class="form-group col-md-6">
                                                <label class="roleSearch-label">Steam ID</label>
                                                <div class="row">
                                                    <input type="text" class="form-control col-md-12" id="steamID" placeholder="Steam ID" name="gameConnectIDcs" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- CS Roles -->
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label class="roleSearch-label">Main Role</label>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="AWP" class="btn btn-primary cb-font col-sm-12">
                                                            AWP
                                                            <input type="checkbox" id="AWP" name="AWP" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/awper.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Lurker" class="btn btn-primary cb-font col-sm-12">
                                                            Lurker
                                                            <input type="checkbox" id="Lurker" name="Lurker" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/lurker.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Rifler" class="btn btn-primary cb-font col-sm-12">
                                                            Rifler
                                                            <input type="checkbox" id="Rifler" name="Rifler" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/rifler.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="IGL" class="btn btn-primary cb-font col-sm-12">
                                                            IGL
                                                            <input type="checkbox" id="IGL" name="IGL" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/leader.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Supporter" class="btn btn-primary cb-font col-sm-12">
                                                            Supporter
                                                            <input type="checkbox" id="Supporter" name="Supporter" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/support.png" />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label for="Fragger" class="btn btn-primary cb-font col-sm-12">
                                                            Fragger
                                                            <input type="checkbox" id="Fragger" name="Fragger" class="badgebox role-input roleCS" />
                                                            <span class="badge">
                                                                &check;
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img class="role-img" src="~/TMF Documents/CS/fragger.png" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- CS Rank -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="rankCs">Rank</label>
                                                    </div>
                                                    <select class="custom-select" id="rankCs" name="rankCs">
                                                        <option disabled selected value="">Choose Rank</option>
                                                        @foreach (var item in ViewBag.csRanks)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- CS Hours -->
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="csHours">Hours</label>
                                                    </div>
                                                    <input type="number" id="csHours" name="csHours" value="0" style="width:135px" min="0" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                }

                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" id="saveBtn" value="Save" class="btn btn-outline-primary" />
                                    <input type="button" id="deleteBtn" value="Delete this Account" class="btn btn-danger" onclick="getDelete(@Model.id)" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    
</div>


}


<input type="hidden" id="userID" value="@Model.id" />
<script src="~/Scripts/js/userEdit.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/css/onOff.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section scripts {
<script>
        $(document).on("click", "#myonoffswitch3", function () {
            var degerler = {
                bit: $("#myonoffswitch3:checked").length == 1 ? true : false,
                id: $("#userID").val()
            };
            $.ajax({
                type: 'POST',
                url: '/users/userSearchable',
                data: JSON.stringify(degerler),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (gelenDeg) {
                    if (gelenDeg == "1") {
                        alert("Searchable is active!");
                    }
                    else if (gelenDeg == "0") {
                        alert("Searchable is inactive!");
                    }
                },
                error: function () {
                    alert("There was a problem occur!");
                }
            });
        });
</script>
<script>
        function getDelete(ids) {
            if (confirm("Are you sure you want to delete this account ?")) {
                location.href = "/users/delete/" + ids;
            }
            else {
                return;
            }
        }
</script>
    <script>
        function goProfile(ids) {
            location.href = "/users/details/" + ids;
        }
    </script>
}

